@model Solution.Web.Models.ReclamationPVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReclamationPVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplaintType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodePostale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodePostale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReclamation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReclamation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReclamationPId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
