@model Solution.Web.Models.ReclamationVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ReclamVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReclamation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReclamation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplaintType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintType)
        </dd>

    </dl>
</div>

<p>
  

    @Html.ActionLink("Back to List", "Index")
</p>
