@model Solution.Web.Models.ReclamationVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section class="page-header section-notch">
    <div class="overlay">
        <div class="container">
            <h3>Edit Reclamation #</h3>
            <ul>
                <li><a href=@Url.Action("Index", "Home")>Home</a></li>
                <li>-</li>
                <li>Edit Reclamation</li>
            </ul>
        </div><!-- container -->
    </div><!-- overlay -->
</section><!-- page header -->

<section class="classes padding-120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Edit", "Reclamation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Reclamation</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ReclamationId)


                        <div class="form-group">
                            @Html.LabelFor(m => m.ComplaintType, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(m => m.ComplaintType, new { @class = "form-control contact-input" })
                                @Html.ValidationMessageFor(m => m.ComplaintType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Comment, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(m => m.Comment, new { @class = "form-control contact-input" })
                                @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Modifier Reclamation" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
</section>

